<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/edytuj_oferte_pracy.css">
    <script src="assets/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Panel administracyjny</title>
</head>
<body>
    <div class="all">

        <div class="gray_line"></div>
    <div class="menu">

        <ul>

            <li><img src="assets/images/imkiuspg.png" id="imkiuspg"></li>
            <a href="zmien_dane_logowania.html"><li><p>Zmiana danych logowania</p></li></a>
            <a href="dodaj_zapytanie_ofertowe.html"><li><p>Dodaj zapytanie ofertowe</p></li></a>
            <a href="usun_zapytanie.html"><li><p>Usuń zapytanie ofertowe</p></li></a>
            <a href="edytuj_oferte_pracy.html"><li><p>Edytuj ofertę pracy</p></li></a>
            <a href="dodaj_aktualnosc.html"><li><p>Dodaj aktualność</p></li></a>
            <a href="usun_aktualnosc.html"><li><p>Usuń aktualność</p></li></a>
            <form action="wyloguj" method="post">
                <input type="submit" name="wyloguj" value="Wyloguj" class="button">
            </form>

        </ul>

    </div>
    <div class="main">

        <iframe src="edytuj_oferte_pracy_iframe.html" width="100%" height="100%" frameBorder="0"></iframe>

    </div>

    </div>
</body>
</html>