<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/rodo.css">
    <title>Imkius</title>
</head>
<body>

    <div class="mobile_version">
        <div class="mobile_menu">
            <div class="hamburger-container" id="burger-button">
                <div class="burger-menu">
                    <div class="top-line"></div>
                    <div class="middle-line"></div>
                    <div class="bottom-line"></div>
                </div>    
            </div>
            <div class="logo-container"><img src="assets/images/imkiuspg.png" id="imkiuspg"></div>
            <div class="empty-container"><img src="assets/images/undo.png" id="wroc" onclick="history.back()"></div>
        </div>

        <div class="mobile-menu-swipe">
            <ul>
                <li><a href="glowna"><button>GŁÓWNA<img src="assets/images/white_arrow.png" id="przejdz"></button></a></li>
                <li><a href="aktualnosci"><button>AKTUALNOŚCI<img src="assets/images/white_arrow.png" id="przejdz"></button></a></li>
                <li><a href="oferta"><button>OFERTA<img src="assets/images/white_arrow.png" id="przejdz"></button></a></li>
                <li><a href="praca"><button>PRACA<img src="assets/images/white_arrow.png" id="przejdz"></button></a></li>
                <li><a href="zapytania"><button>ZAPYTANIA<img src="assets/images/white_arrow.png" id="przejdz"></button></a></li>
                <li><a href="rodo"><button>RODO<img src="assets/images/white_arrow.png" id="przejdz"></button></a></li>
            </ul>

            <ul id="kontakt-swipe-menu">
                <li><img src="assets/images/phone-call.png" id="phone-call"><p>+48 32 475 81 50</p></li>
                <li><img src="assets/images/mail.png" id="mail"><p>poczta@imkius.pl</p></li>
                <a href="http://www.pg-technology.pl"><li id="link_"><img src="assets/images/pgtech_vec.png" id="pgtech_vec"><p>pg-technology.pl</p></li></a>
                <a href="http://www.pggarden.pl"><li id="link_"><img src="assets/images/pggarden.png" id="pggarden"><p>pggarden.pl</p></li></a>
                <a href="projekty.html"><li id="link_"><img src="assets/images/flaga.png" id="flaga_ue"><p>projekty unijne</p></li></a>
            </ul>
        </div>

        <div class="mobile_main">

            <div class="mobile_headline_szanowni_panstwo">
    
                <ul>
    
                    <li id="mobile_naglowek"><h2>SZANOWNI PAŃSTWO,</h2></li>
    
                </ul>
    
            </div>

            <div class="mobile_text_szanowni_panstwo">
    
                <p>
                    Dążąc nieustannie do zapewnienia jak najlepszej ochrony danych osobowych, które zostały przekazane naszej firmie w celu realizacji
                    dalszego biznesu, pragniemy Państwa poinformować, iż jesteśmy w pełni gotowi, aby chronić Państwa dane osobowe na najwyższym
                    poziomie, uwzględniając przepisy Rozporządzenia Parlamentu Europejskiego i Rady UE 2016/679 z dnia 27 kwietnia 2016 r. w sprawie
                    ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz
                    uchylenia dyrektywy 95/46/WE (RODO). Spełniając swój obowiązek wynikający z art. 13 RODO chcemy poinformować w jaki sposób
                    przetwarzane są przez nas dane osobowe, a przede wszystkim poinformować o prawach, które będą przysługiwały Państwu w związku z
                    nowymi przepisami. Prosimy o zapoznanie się z poniższymi informacjami.
                    <br><br>
                    <span id="rodo_naglowek">1. Kto jest Administratorem danych osobowych?</span>
                    <br><br>
                    Administratorem danych osobowych jest PG IMKIUS Sp. z o.o. z siedzibą w Kaczycach, przy ul. Morcinka 7d
                    <br><br>
                    <span id="rodo_naglowek">2. W jaki sposób można skontaktować się w sprawach związanych z przetwarzaniem danych osobowych?</span>
                    <br><br>
                    W razie pytań dotyczących zasad prywatności i przetwarzania danych osobowych należy kontaktować się pod adresem email: poczta@imkius.pl
                    <br><br>
                    <span id="rodo_naglowek">3. W jakim celu i na jakiej podstawie prawnej są przetwarzane dane osobowe?</span>
                    <br><br>
                    Dane osobowe przetwarzane są w celu wykonania zawartej umowy, zamówienia.
                    <br><br>
                    Dane osobowe przetwarzane są na podstawie prawnie uzasadnionego interesu PG IMKIUS Sp. z o.o. w następujących celach:
                    <br>
                    - Informowania w sposób bezpośredni o ofercie PG IMKIUS Sp. z o.o.;
                    <br>
                    - Kontaktowych;
                    <br>
                    - Windykacji należności;
                    <br>
                    - Prowadzenia postępowań sądowych, arbitrażowych i mediacyjnych;
                    <br>
                    - Przechowywania danych dla celów archiwizacyjnych.
                    <br><br>
                    Dane osobowe przetwarzane są w celu wykonania czynności stosownie do udzielonej zgody, w tym do:
                    <br>
                    - Przeprowadzenia procesu rekrutacyjnego.
                    <br><br>
                    Dane osobowe przetwarzane są w celu wykonania obowiązku prawnego, w tym do:
                    <br>
                    - Wypełnienia postanowień prawa podatkowego, przepisów o rachunkowości;
                    <br>
                    - Zapewnienia rozliczalności na podstawie przepisów prawa;
                    <br>
                    - Wykonania obowiązków wynikających z decyzji, orzeczeń wydawanych przez uprawnione organy, instytucje lub sądy.
                    <br><br>
                    <span id="rodo_naglowek">4. Komu będą przekazywane dane osobowe?</span>
                    <br><br>
                    Dane osobowe mogą być przekazywane do podmiotów lub organów upoważnionych na podstawie przepisów prawa, podmiotów lub organów, którym przekazanie danych jest
                    konieczne dla wykonania określonej czynności. PG IMKIUS Sp. z o.o. może, także powierzać dane innym podmiotom, które wspierają działalność firmy przez 
                    świadczenie usług np. obsługa ubezpieczeniowa itp.
                    <br><br>
                    <span id="rodo_naglowek">5. Czy istnieje obowiązek podania danych osobowych?</span>
                    <br><br>
                    Podanie danych osobowych jest dobrowolne za wyjątkiem sytuacji, gdy prawo obliguje do ich podania, np. prawo skarbowe, przepisy o rachunkowości lub ich podanie 
                    jest niezbędne do zrealizowania przez PG IMKIUS Sp. z o.o. zamówionych usług.
                    <br><br>
                    <span id="rodo_naglowek">6. Jak długo są przetwarzane dane osobowe?</span>
                    <br><br>
                    Okres przetwarzania danych osobowych przez PG IMKIUS Sp. z o.o. zależy od celu w jakim zostały zebrane i przetwarzane, a także przepisów prawa i pozyskanych przez PG IMKIUS Sp. z o.o. zgód lub innych oświadczeń:
                    <br><br>
                    Dane przetwarzane w celu wykonania zawartej umowy przechowywane są przez czas niezbędny do jej wykonania. W przypadku, gdy realizacja umowy nie dojdzie do skutku, dane osobowe będą przechowywane przez 3 lata od dnia ich zebrania.
                    <br><br>
                    - Przechowywane są także dane osobowe o charakterze archiwalnym - po wygaśnięciu danej relacji prawnej dane osobowe dotyczące działania tych osób w imieniu przedsiębiorcy instytucji lub jednostek organizacyjnych są przechowywane przez okres 6 lat, a pozostałe dane osobowe osób fizycznych przez okres 10 lat.
                    <br><br>
                    - W przypadku, gdy toczy się spór, proces sądowy lub trwa inne postępowanie, okres archiwizacyjny będzie liczony od dnia zakończenia sporu, bez względu na sposób jego zakończenia, lub prawomocnego zakończenia ostatniego postępowania, chyba, że przepis prawa przewiduje dłuży okres przedawnienia dla danego prawa/roszczenia, którego dotyczy postępowanie.
                    <br><br>
                    - Dane osobowe zebrane na podstawie zgody będziemy przechowywali przez okres wskazany w oświadczeniu zgody lub do odwołania zgody. - Dane osobowe przetwarzane na podstawie prawnie uzasadnionego interesu, w szczególności dla celu marketingu bezpośredniego będą przechowywane do momentu wniesienia sprzeciwu wobec takiego przetwarzania.
                    <br><br>
                    - W celu wykazania rozliczalności będą przechowywane dane osobowe przez okres, w którym PG IMKIUS Sp. z o.o. jest zobowiązana do ich przechowywania w postaci elektronicznej lub papierowej dla udokumentowania spełnienia wymagań wynikających z przepisów prawa oraz w celu umożliwienia kontroli przez uprawnione podmioty.
                    <br><br>
                    <span id="rodo_naglowek">7. Jakie są uprawnienia w zakresie przetwarzania danych osobowych?</span>
                    <br><br>
                    Przysługuje prawo dostępu do treści swoich danych oraz prawo ich sprostowania, gdy są niezgodne ze stanem rzeczywistym, a także prawo żądania usunięcia lub ograniczenia ich przetwarzania. W przypadkach przewidzianych prawem z zachowaniem wymogu, że prawo to nie może niekorzystnie wpływać na prawa i wolności innych osób, w tym tajemnic handlowych lub własności intelektualnej, przysługuje prawo do przenoszenia danych osobowych w zakresie technicznie możliwym lub uzyskania ich kopii.
                    <br><br>
                    Można także skorzystać z prawa do wniesienia sprzeciwu wobec dalszego przetwarzania swoich danych osobowych, np. w celach marketingu bezpośredniego.
                    <br><br>
                    Jeśli przetwarzanie Twoich danych osobowych odbywa się na podstawie zgody, przysługuje prawo do cofnięcia wszystkich lub niektórych zgód dotyczących przetwarzania danych w określonym celu. Cofnięcie zgody nie będzie wpływało na przetwarzanie danych przed cofnięciem zgody ani podstawę prawną tego przetwarzania.
                    <br><br>    
                    Jeżeli osoba, której dane dotyczą uzna, iż przetwarzanie jej danych narusza przepisy ogólnego Rozporządzenia o Ochronie Danych Osobowych z dnia 27 kwietnia 2016 r., przysługuje jej prawo wniesienia skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych.
                    <br><br>
                    <span id="rodo_naglowek">8. Czy będziemy przekazywać dane osobowe poza Europejski Obszar Gospodarczy?</span>
                    <br><br>
                    Zebrane przez PG IMKIUS Sp. z o.o. dane osobowe przechowywane są wyłącznie na terenie Europejskiego Obszaru Gospodarczego („EOG”).
                    <br><br>
                    <span id="rodo_naglowek">9. Czy będą przetwarzane dane osobowe w sposób automatyczny (w tym profilowane)?</span>
                    <br><br>
                    PG IMKIUS Sp. z o.o. nie przetwarza danych w sposób zautomatyzowany (w tym w formie profilowania).
                </p>
    
            </div>

        </div>
        <footer>

            <div class="mobile_adresy">

                <ul>

                    <li><p>PG IMKIUS Sp. z o. o.</p></li>
                    <li><p>ul. Morcinka 7d</p></li>
                    <li><p>43-417 Kaczyce</p></li>
                    <li><p>tel. +48 32 475 81 50</p></li>
                    <li><p>fax +48 32 469 41 83</p></li>
                    <li><p>e-mail: poczta@imkius.pl</p></li>

                </ul>

            </div>

            <div class="mobile_dzialy">

                <ul>

                    <li><p>Działy:</p></li>
                    <li><p>Handlowy/Przetargowy wew. 16</p></li>
                    <li><p>Elektroniczny wew. 12</p></li>
                    <li><p>Realizacyjno-produkcyjny wew. 20</p></li>
                    <li><p>Logistyki wew. 14</p></li>
                    <li><p>Serwisu wew. 11</p></li>

                </ul>

            </div>

            <div class="mobile_bank">

                <p>NIP 548-242-98-90, REGON 240018340,<br>
                Kapitał zakładowy 200 000 PLN, Kapitał wpłacony 200 000 PLN<br>
                Wpis do Rejestru przedsiębiorców prowadzony przez Sąd Rejonowy w Bielsku-Białej<br>
                VIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod nr KRS 0000228490<br>
                Konto bankowe:<br> 
                BNP Paribas Bank Polska S.A. nr 73 1750 1178 0000 0000 3985 8778</p>

            </div>

            <div class="mobile_mapa">

                <iframe width="1100px" height="100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10293.332948522542!2d18.6031958!3d49.8361958!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f7962df73f2ba29!2sIMKIUS+sp.+z+o.o.!5e0!3m2!1spl!2spl!4v1503575963593" frameborder="0" allowfullscreen="" style="border: 0;"></iframe>
    
            </div>

        </footer>
    </div>

    <div class="pc_version">

    <div class="menu_contact">

        <ul>

            <li><img src="assets/images/phone-call.png" id="phone-call"><p>+48 32 475 81 50</p></li>
            <li><img src="assets/images/mail.png" id="mail"><p>poczta@imkius.pl</p></li>
            <a href="http://www.pg-technology.pl"><li id="link_"><img src="assets/images/pgtech_vec.png" id="pgtech_vec"><p>pg-technology.pl</p></li></a>
            <a href="http://www.pggarden.pl"><li id="link_"><img src="assets/images/pggarden.png" id="pggarden"><p>pggarden.pl</p></li></a>
            <a href="projekty.html"><li id="link_"><img src="assets/images/flaga.png" id="flaga_ue"><p>projekty unijne</p></li></a>

        </ul>

    </div>
    <div class="menu">

        <ul>

            <li><img src="assets/images/imkiuspg.png" id="imkiuspg"></li>
            <a href="glowna.html"><li><p>GŁÓWNA</p></li></a>
            <a href="aktualnosci.html"><li><p>AKTUALNOŚCI</p></li></a>
            <a href="oferta.html"><li><p>OFERTA</p></li></a>
            <a href="praca.html"><li><p>PRACA</p></li></a>
            <a href="zapytania.html"><li><p>ZAPYTANIA</p></li></a>
            <a href="rodo.html"><li><p>RODO</p></li></a>

        </ul>

    </div>

    <div class="main">

        <div class="main_second">

            <div class="headline_szanowni_panstwo">
    
                <ul>
    
                    <li id="naglowek"><h2>SZANOWNI PAŃSTWO,</h2></li>
    
                </ul>
    
            </div>

            <div class="text_szanowni_panstwo">
    
                <p>
                    Dążąc nieustannie do zapewnienia jak najlepszej ochrony danych osobowych, które zostały przekazane naszej firmie w celu realizacji
                    dalszego biznesu, pragniemy Państwa poinformować, iż jesteśmy w pełni gotowi, aby chronić Państwa dane osobowe na najwyższym
                    poziomie, uwzględniając przepisy Rozporządzenia Parlamentu Europejskiego i Rady UE 2016/679 z dnia 27 kwietnia 2016 r. w sprawie
                    ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz
                    uchylenia dyrektywy 95/46/WE (RODO). Spełniając swój obowiązek wynikający z art. 13 RODO chcemy poinformować w jaki sposób
                    przetwarzane są przez nas dane osobowe, a przede wszystkim poinformować o prawach, które będą przysługiwały Państwu w związku z
                    nowymi przepisami. Prosimy o zapoznanie się z poniższymi informacjami.
                    <br><br>
                    <span id="rodo_naglowek">1. Kto jest Administratorem danych osobowych?</span>
                    <br><br>
                    Administratorem danych osobowych jest PG IMKIUS Sp. z o.o. z siedzibą w Kaczycach, przy ul. Morcinka 7d
                    <br><br>
                    <span id="rodo_naglowek">2. W jaki sposób można skontaktować się w sprawach związanych z przetwarzaniem danych osobowych?</span>
                    <br><br>
                    W razie pytań dotyczących zasad prywatności i przetwarzania danych osobowych należy kontaktować się pod adresem email: poczta@imkius.pl
                    <br><br>
                    <span id="rodo_naglowek">3. W jakim celu i na jakiej podstawie prawnej są przetwarzane dane osobowe?</span>
                    <br><br>
                    Dane osobowe przetwarzane są w celu wykonania zawartej umowy, zamówienia.
                    <br><br>
                    Dane osobowe przetwarzane są na podstawie prawnie uzasadnionego interesu PG IMKIUS Sp. z o.o. w następujących celach:
                    <br>
                    - Informowania w sposób bezpośredni o ofercie PG IMKIUS Sp. z o.o.;
                    <br>
                    - Kontaktowych;
                    <br>
                    - Windykacji należności;
                    <br>
                    - Prowadzenia postępowań sądowych, arbitrażowych i mediacyjnych;
                    <br>
                    - Przechowywania danych dla celów archiwizacyjnych.
                    <br><br>
                    Dane osobowe przetwarzane są w celu wykonania czynności stosownie do udzielonej zgody, w tym do:
                    <br>
                    - Przeprowadzenia procesu rekrutacyjnego.
                    <br><br>
                    Dane osobowe przetwarzane są w celu wykonania obowiązku prawnego, w tym do:
                    <br>
                    - Wypełnienia postanowień prawa podatkowego, przepisów o rachunkowości;
                    <br>
                    - Zapewnienia rozliczalności na podstawie przepisów prawa;
                    <br>
                    - Wykonania obowiązków wynikających z decyzji, orzeczeń wydawanych przez uprawnione organy, instytucje lub sądy.
                    <br><br>
                    <span id="rodo_naglowek">4. Komu będą przekazywane dane osobowe?</span>
                    <br><br>
                    Dane osobowe mogą być przekazywane do podmiotów lub organów upoważnionych na podstawie przepisów prawa, podmiotów lub organów, którym przekazanie danych jest
                    konieczne dla wykonania określonej czynności. PG IMKIUS Sp. z o.o. może, także powierzać dane innym podmiotom, które wspierają działalność firmy przez 
                    świadczenie usług np. obsługa ubezpieczeniowa itp.
                    <br><br>
                    <span id="rodo_naglowek">5. Czy istnieje obowiązek podania danych osobowych?</span>
                    <br><br>
                    Podanie danych osobowych jest dobrowolne za wyjątkiem sytuacji, gdy prawo obliguje do ich podania, np. prawo skarbowe, przepisy o rachunkowości lub ich podanie 
                    jest niezbędne do zrealizowania przez PG IMKIUS Sp. z o.o. zamówionych usług.
                    <br><br>
                    <span id="rodo_naglowek">6. Jak długo są przetwarzane dane osobowe?</span>
                    <br><br>
                    Okres przetwarzania danych osobowych przez PG IMKIUS Sp. z o.o. zależy od celu w jakim zostały zebrane i przetwarzane, a także przepisów prawa i pozyskanych przez PG IMKIUS Sp. z o.o. zgód lub innych oświadczeń:
                    <br><br>
                    Dane przetwarzane w celu wykonania zawartej umowy przechowywane są przez czas niezbędny do jej wykonania. W przypadku, gdy realizacja umowy nie dojdzie do skutku, dane osobowe będą przechowywane przez 3 lata od dnia ich zebrania.
                    <br><br>
                    - Przechowywane są także dane osobowe o charakterze archiwalnym - po wygaśnięciu danej relacji prawnej dane osobowe dotyczące działania tych osób w imieniu przedsiębiorcy instytucji lub jednostek organizacyjnych są przechowywane przez okres 6 lat, a pozostałe dane osobowe osób fizycznych przez okres 10 lat.
                    <br><br>
                    - W przypadku, gdy toczy się spór, proces sądowy lub trwa inne postępowanie, okres archiwizacyjny będzie liczony od dnia zakończenia sporu, bez względu na sposób jego zakończenia, lub prawomocnego zakończenia ostatniego postępowania, chyba, że przepis prawa przewiduje dłuży okres przedawnienia dla danego prawa/roszczenia, którego dotyczy postępowanie.
                    <br><br>
                    - Dane osobowe zebrane na podstawie zgody będziemy przechowywali przez okres wskazany w oświadczeniu zgody lub do odwołania zgody. - Dane osobowe przetwarzane na podstawie prawnie uzasadnionego interesu, w szczególności dla celu marketingu bezpośredniego będą przechowywane do momentu wniesienia sprzeciwu wobec takiego przetwarzania.
                    <br><br>
                    - W celu wykazania rozliczalności będą przechowywane dane osobowe przez okres, w którym PG IMKIUS Sp. z o.o. jest zobowiązana do ich przechowywania w postaci elektronicznej lub papierowej dla udokumentowania spełnienia wymagań wynikających z przepisów prawa oraz w celu umożliwienia kontroli przez uprawnione podmioty.
                    <br><br>
                    <span id="rodo_naglowek">7. Jakie są uprawnienia w zakresie przetwarzania danych osobowych?</span>
                    <br><br>
                    Przysługuje prawo dostępu do treści swoich danych oraz prawo ich sprostowania, gdy są niezgodne ze stanem rzeczywistym, a także prawo żądania usunięcia lub ograniczenia ich przetwarzania. W przypadkach przewidzianych prawem z zachowaniem wymogu, że prawo to nie może niekorzystnie wpływać na prawa i wolności innych osób, w tym tajemnic handlowych lub własności intelektualnej, przysługuje prawo do przenoszenia danych osobowych w zakresie technicznie możliwym lub uzyskania ich kopii.
                    <br><br>
                    Można także skorzystać z prawa do wniesienia sprzeciwu wobec dalszego przetwarzania swoich danych osobowych, np. w celach marketingu bezpośredniego.
                    <br><br>
                    Jeśli przetwarzanie Twoich danych osobowych odbywa się na podstawie zgody, przysługuje prawo do cofnięcia wszystkich lub niektórych zgód dotyczących przetwarzania danych w określonym celu. Cofnięcie zgody nie będzie wpływało na przetwarzanie danych przed cofnięciem zgody ani podstawę prawną tego przetwarzania.
                    <br><br>    
                    Jeżeli osoba, której dane dotyczą uzna, iż przetwarzanie jej danych narusza przepisy ogólnego Rozporządzenia o Ochronie Danych Osobowych z dnia 27 kwietnia 2016 r., przysługuje jej prawo wniesienia skargi do organu nadzorczego – Prezesa Urzędu Ochrony Danych Osobowych.
                    <br><br>
                    <span id="rodo_naglowek">8. Czy będziemy przekazywać dane osobowe poza Europejski Obszar Gospodarczy?</span>
                    <br><br>
                    Zebrane przez PG IMKIUS Sp. z o.o. dane osobowe przechowywane są wyłącznie na terenie Europejskiego Obszaru Gospodarczego („EOG”).
                    <br><br>
                    <span id="rodo_naglowek">9. Czy będą przetwarzane dane osobowe w sposób automatyczny (w tym profilowane)?</span>
                    <br><br>
                    PG IMKIUS Sp. z o.o. nie przetwarza danych w sposób zautomatyzowany (w tym w formie profilowania).
                </p>
    
            </div>

            
        </div>

    </div>
    <footer>

        <div class="kontakt_main">
    
            <div class="adresy">

                <ul>

                    <li><p>PG IMKIUS Sp. z o. o.</p></li>
                    <li><p>ul. Morcinka 7d</p></li>
                    <li><p>43-417 Kaczyce</p></li>
                    <li><p>tel. +48 32 475 81 50</p></li>
                    <li><p>fax +48 32 469 41 83</p></li>
                    <li><p>e-mail: poczta@imkius.pl</p></li>

                </ul>

            </div>
            <div class="dzialy">

                <ul>

                    <li><p>Działy:</p></li>
                    <li><p>Handlowy/Przetargowy wew. 16</p></li>
                    <li><p>Elektroniczny wew. 12</p></li>
                    <li><p>Realizacyjno-produkcyjny wew. 20</p></li>
                    <li><p>Logistyki wew. 14</p></li>
                    <li><p>Serwisu wew. 11</p></li>

                </ul>

            </div>
            <div class="bank">

                <p>NIP 548-242-98-90, REGON 240018340,<br>
                Kapitał zakładowy 200 000 PLN, Kapitał wpłacony 200 000 PLN<br>
                Wpis do Rejestru przedsiębiorców prowadzony przez Sąd Rejonowy w Bielsku-Białej<br>
                VIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod nr KRS 0000228490<br>
                Konto bankowe:<br> 
                BNP Paribas Bank Polska S.A. nr 73 1750 1178 0000 0000 3985 8778</p>

            </div>  
            
        </div>

        <div class="mapa">

            <iframe width="1100px" height="100%" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10293.332948522542!2d18.6031958!3d49.8361958!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6f7962df73f2ba29!2sIMKIUS+sp.+z+o.o.!5e0!3m2!1spl!2spl!4v1503575963593" frameborder="0" allowfullscreen="" style="border: 0;"></iframe>

        </div>

    </footer>
    </div>
    <script src="js/script.js"></script>
</body>
</html>