<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/zmien_dane_logowania.css">
    <title>Document</title>
</head>
<body>
    <form class="formularz">

        <div class="stary_login">
        <label for="stary_login_input" id="stary_login_label">Stary login:</label>
        <input type="text" id="stary_login_input" name="stary_login_input">
        </div>

        <div class="stare_haslo">
        <label for="stare_haslo_input" id="stare_haslo_label">Stare hasło:</label>
        <input type="text" id="stare_haslo_input" name="stare_haslo_input">
        </div>

        <div class="blue_line"></div>

        <div class="nowy_login">
        <label for="nowy_login_input" id="nowy_login_label">Nowy login:</label>
        <input type="text" id="nowy_login_input" name="nowy_login_input">
        </div>

        <div class="nowe_haslo">
        <label for="nowe_haslo_input" id="nowe_haslo_label">Nowe hasło:</label>
        <input type="text" id="nowe_haslo_input" name="nowe_haslo_input">
        </div>

        <input type="submit" class="button" value="Zmień">

    </form>
</body>
</html>