:root {

}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:focus {
    color: #0031DD;
}

.menu p:hover {
    color: var(--kolor);
}

#link_:hover p {
    color: #0031DD;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/images/gears.jpg);
}

.menu_contact {
    height: 28px;
    width: 100%;
    background-color: #BCBCBC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.menu_contact li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu_contact p {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
    font-size: 14px;
}

.menu {
    height: 120px;
    width: 100%;
    background-color: #CFCFCF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 4px 0 #0031DD;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 35px;
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu p {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
    font-size: 21px;
}

#imkiuspg {
    width: 110px;
    height: 100px;
}

#phone-call, #mail, #pgtech_vec, #pggarden {
    width: 18px;
    height: 18px;
}

#flaga_ue {
    width: 25px;
    height: 18px;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_second {
    width: 1060px; 
}

.headline_aktualnosc {
    width: 100%;
    margin-top: 60px;
}

.headline_aktualnosc ul {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
}

.headline_aktualnosc h2 {
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
}

#naglowek {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
}

#naglowekspc {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

#naglowek:after {
    content: "";
    flex: 1 1;
    border-bottom: 3px solid #BCBCBC;
    margin: auto;
}

#naglowek::after {
    margin-left: 20px;
}

.headline_aktualnosc h2 {
    font-size: 28px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
}

.text_aktualnosc {
    margin-top: 20px;
    width: 100%;
}

.text_aktualnosc p {
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    text-align: justify;
}

#rodo_naglowek {
    color: #0031DD;
    font-size: 18px;
}

.zapytanie {
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 35px;
    font-size: 18px;
    color: white;
    gap: 5px;
    background-color: #0031DD;
    margin-top: 20px;
}

#download {
    width: 23px;
    height: 23px;
}

.zdjecia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 15px 0;
}

#obraz {
    max-width: 45%;
    max-height: 350px;
}

.kontakt_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.mapa {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baner_spolka {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline_zaufalinam h2 {
    font-size: 28px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
}

.adresy ul, .dzialy ul {
    list-style: none;
}

.adresy p, .dzialy p, .bank p {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: white;
}

footer {
    background-color: #BCBCBC;
    width: 100%;
    padding-top: 60px;
    margin-top: 90px;
    padding-bottom: 60px;
}

.pc_version {
    width: 100%;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-direction: column;
}

.top-line, .middle-line, .bottom-line {
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position: relative;
}

.hamburger-container, .logo-container, .empty-container {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#przejdz {
    width: 20px;
    height: 16px;
}

#wroc {
    height: 28px;
    width: 28px;
}

@media all and (min-width: 1231px) {
    .mobile_version {
        display: none;
    }
}

@media all and (max-width: 1230px) {
    .mobile-menu-swipe {
        position: absolute;
        margin-top: -0.1px;
        z-index: 1;
        background-color: #CFCFCF;
        box-shadow: 3px 3px 4px 0 #0031DD;
        display: flex;
        align-items: center;
        padding: 30px;
        flex-direction: column;
        justify-content: center;
        display: none;
        transition: all ease-in-out 2s;
    }

    .mobile-menu-swipe ul {
        text-align: left;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .mobile-menu-swipe li {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
        font-size: 21px;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .mobile-menu-swipe button {
        background-color: #0031DD;
        border: #0031DD 3px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        gap: 10px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
        font-size: 21px;
        padding: 0 5px;
    }

    #kontakt-swipe-menu {
        margin-top: 30px;
    }

    #kontakt-swipe-menu p{
        font-size: 15px;
    }

    #kontakt-swipe-menu li {
        display: flex;
        gap: 5px;
    }

    .pc_version {
        display: none;
    }

    .mobile_version {
        width: 100%;
    }

    .mobile_menu {
        height: 120px;
        width: 100%;
        background-color: #CFCFCF;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 5px 0 #0031DD;
    }

    .mobile_main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #imkiuspg {
        width: 90px;
        height: 80px;
    }

    .mobile_main_second {
        width: 80%;
    }

    .mobile_headline_aktualnosc h2 {
        font-size: 20px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 25%);
        font-weight: 800;
        font-family: 'Rubik', sans-serif;
        margin-top: 50px;
    }
    
    .mobile_text_aktualnosc {
        margin-top: 20px;
        width: 100%;
    }
    
    .mobile_text_aktualnosc p {
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        text-align: justify;
    }

    .mobile_headline_aktualnosc ul {
        display: flex;
        align-items: center;
        list-style: none;
        width: 100%;
    }

    .mobile_version footer {
        background-color: #BCBCBC;
        width: 100%;
        padding-top: 60px;
        margin-top: 90px;
        padding-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .mobile_adresy {
        font-size: 15px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        color: white;
        width: 70%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .mobile_adresy ul {
        list-style: none;
    }

    .mobile_dzialy {
        font-size: 15px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        color: white;
        width: 70%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .mobile_dzialy ul {
        list-style: none;
    }

    .mobile_bank {
        font-size: 15px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        color: white;
        width: 70%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .mobile_bank ul {
        list-style: none;
    }

    .mobile_mapa {
        font-size: 15px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        color: white;
        width: 90%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .mobile_mapa ul {
        list-style: none;
    }
}